<mat-grid-list class="product-list" cols="{{numColumns}}" [gutterSize]="'1px'">
  <mat-grid-tile *ngFor=" let product of products">
    <mat-card class="product-card" class="mat-elevation-z8">
      <div class="product-image" [style.backgroundImage]="'url(' + product.image +')'"></div>
      <mat-card-header class="product-header">
        <mat-card-title>{{product.title}}</mat-card-title>
        <mat-card-subtitle><b>${{product.price}}</b><small> / </small>{{product.unit}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{product.description}}</p>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
        <button mat-stroked-button color="primary" (click)="addToCart(product)">Add to Cart</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>